extends _bootstrap
block content
  -function prettyDate(timestamp){
    -return new Date(timestamp)
  -}

  //h1 #{message}
  table.table.table-striped.table-hover
    thead
      tr
        th ID
        th Name
        th Enabled
        th Last Modified
        th Actions
    tbody
      each product in products
        tr
          td=product.id
          td=product.name
          td
            if product.enabled
              i.fa.fa-check
            else
              i.fa.fa-times
          td=prettyDate(product.updatedAt)
          td
            button(data-toggle="modal", data-target="#editModal", prodID=product.id).btn.btn-primary.btn-edit-product
              i.fa.fa-pencil
            button(data-toggle="modal", data-target="#deleteModal").btn.btn-danger.btn-delete-product
              i.fa.fa-trash-o

  #deleteModal.modal.hide.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#deleteModalLabel.modal-title Delete product?
          button.close(data-dismiss='modal')
            i.fa.fa-times-circle
        .modal-body
          p Do you really want to delete product with ID 
            span#deleteModalID
            | ?
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button#deleteModalBtn.btn.btn-danger Delete

  #editModal.modal.hide.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#editModalLabel.modal-title Edit product 
            span#editModalID
          button.close(data-dismiss='modal')
            i.fa.fa-times-circle
        .modal-body
          form
            .form-group
              label(for='editModalName').font-weight-bold Product Name
              input#editModalName.form-control(type='text')
            .checkbox
              label.font-weight-bold
                input#editModalEnable(type='checkbox')
                |  Enable
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button#editModalBtn.btn.btn-primary Edit

  #addModal.modal.hide.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addModalLabel.modal-title Add product
          button.close(data-dismiss='modal')
            i.fa.fa-times-circle
        .modal-body
          form
            .form-group
              label(for='addModalName').font-weight-bold Product Name
              input#addModalName.form-control(type='text')
            .checkbox
              label.font-weight-bold
                input#addModalEnable(type='checkbox', checked=true)
                |  Enable
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button#addModalBtn.btn.btn-primary Add
